Change type of `time` from number to string

`type: string`
`format: date-time`

reference: https://swagger.io/docs/specification/data-models/data-types/#string

> `date-time` – the date-time notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, `2017-07-21T17:32:28Z`